.dropdownHider {
    animation: show-dropdown-hider 0.5s ease-in-out;
    opacity: 0.3;
}

@keyframes show-dropdown-hider {
    from { opacity: 0; }
    to { opacity: 0.3; }
}

.dropdownListItem {
    @apply w-full text-center rounded-md;
    cursor: pointer;


    .dropdownLink {
        @apply w-full h-full rounded-md text-lg py-4 ps-4 pe-10 flex justify-between items-center gap-8;
        &:hover {
            @apply bg-lighter-background;
        }

        .dropdownIcon {
            @apply w-6 h-6;
            filter: invert(100%);
        }
    }

}